<div class="container">
        <div class="row">
<div  *ngFor="let item of product"  >
        <div class="card" style="width: 18rem; cursor: grab;" *ngIf="item.isAvailable">
          <img [src]="item.image" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{ item.name | lowercase }}</h5>
            <p class="card-text">{{item.description}}</p>
            <p>${{item.price}}</p>
            <button href="#" class="btn btn-primary" [disabled]="!item.isAvailable">Add To Cart</button>
          </div>
        </div>
      </div>
    </div>
</div>
